@import"bootstrap/dist/css/bootstrap.css";

body{
    padding:0px;
}

.symbol{
    width:80px;
}
.head-text{
    width:370px;
}

.head-text-2{
    width:160px;
}

.body-box{
    height:1387px;
    width:910px;
}

.body-box1{
    height:388px;
}

.body-box2{
    height:388px;
}
.row_1{
    height:1860px;
    width:1320px;

}
.col_1{
    height:30px;
}    
    
.row_2{
    width:1320px;
    height:580px;
}
.box1{
    width:25rem;
    height:33rem;
}
