@import"bootstrap/dist/css/bootstrap.css";

body{
    padding:0px;
}

.header-text{
  font-size: 84px;
}

@media(max-width: 414px){
  .header-text{
   font-size: 35px;
  }
  .image{
    width: 25px;
    height: 25px;
    margin-top:8px;
  }
 }

 .search-row{
  text-align: center;
 }
 
 
 .search-button{
    color:white;
    background-color:#E84848;
    display:inline;
}
 
.searchbar{
    background-image:url("/Frame 15.png");
    background-position:5px center;
    background-repeat:no-repeat;
    padding-left:40px;
    height:53px;
   
 }


.text-color{
    color:red;
}


.box-size{
    height:388px;
}

.footer-text{
    font-size:16px;
}


  
.image1{
   width:16px;
   height:16px;
}

